.header {
  nav {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__menu {
    display: none;
    span {
      width: 25px;
      height: 2px;
      display: block;
      background-color: $darkBlue;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__links {
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
  }
  &__link {
    color: $grayishBlue;
  }
}
