.header {
  nav {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
  }

  &__menu {
    span {
      width: 25px;
      height: 2px;
      display: block;
      background-color: $darkBlue;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}
